@import url("./landscape.css") (orientation: landscape);
@import url("./portrait.css") (orientation: portrait);

#upper {
    display: flex;
    flex-direction: column;
}

header {
    padding: 10px;
    display: flex;
    border-bottom: 5px solid #1E1F1C;
}

#profile {
    border-radius: 50%;
    border: 5px solid #3E3D32;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid #1E1F1C;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 1em 0.75em;
    transition: background-color 0.25s;
}

nav a:hover, nav a.current-page {
    background-color: #3E3D32;
}

nav a.current-page {
    font-weight: bold;
}

nav h2 {
    font-size: 1.25em;
}

section {
    padding: 10px;
    background-color: #3E3D32;
    border-radius: 1.5vw;
    padding: 15px;
    margin: 30px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 5px solid #1E1F1C;
    font-size: 0.75em;
    padding: 0px 10px;
}

footer .left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

footer img {
    background: white;
    border-radius: 50%;
    border: 2px solid white;
    height: 2em;
}

footer p {
    margin: 10px 0px;
}