@import url("./common.css");
@import url("./markdown/landscape.css");

header { 
    flex-direction: row; 
}

header h1 { 
    font-size: 5em;
    margin-top: -20px;
}

#top-text {
    padding: 30px 0px;
}

#profile {
    flex: 0;
    margin-right: 30px;
    margin-left: 15px;
}

#content {
    text-align: center;
}

#content p, pre, h1, h2 {
    text-align: left;
}

#content p {
    line-height: 1.5;
}

#content p:not(.fullwidth) {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
}

#content pre {
    display: inline-block; /* shrinkwrap contents */
}