@import url("./common.css");

header { 
    flex-direction: row; 
}

header h1 { 
    font-size: 5em;
    margin-top: -20px;
}

#top-text {
    padding: 30px 0px;
}

#profile {
    margin-right: 30px;
    margin-left: 15px;
}

section {
    margin: 0px 50px;
}
