{% extends "base.html" %}
{% block header %}
<link rel="stylesheet" type="text/css" media="screen and (orientation: landscape)" href="/paginated/landscape.css">
<link rel="stylesheet" type="text/css" media="screen and (orientation: portrait)" href="/paginated/portrait.css">
<title>{{section.title}}</title>
{% endblock header %}
{% block content %}
{% for page in section.pages %}
    <section class="page">
        {% if page.extra.thumbnail %}
            {% if page.extra.clickthrough %} 
                {% set clickthrough = page.extra.clickthrough %}
            {% else %}
                {% set clickthrough = page.permalink %}
            {% endif %}
            <a class="link" href="{{ page.extra.clickthrough }}">
                <img class="thumbnail" src="{{ page.extra.thumbnail }}"></img>
            </a>
        {% endif %}
        <div class="page-content">
            {% if section.extra.summarize %}
                {% set content = page.summary %}
            {% else %}
                {% set content = page.content %}
            {% endif %}
            <div class="markdown">
                {{ content | safe }}
                {% if section.extra.summarize %}
                    <a class="continue-reading" href="{{ page.permalink }}#continue-reading">[read more...]</a>
                {% endif %}
            </div>
            {% if section.extra.tag_taxonomy %}
            <div class="tags">
                filed under:
                <span class="tag-list">{{ page.taxonomies[section.extra.tag_taxonomy] | join(sep=", ")}}</span>
            </div>
            {% endif %}
        </div>
    </section>
{% endfor %}
{% endblock content %}